figure.imageAsset {
  padding: var(--spacing);
  margin: var(--spacing);
  background-color: #666;

  figcaption {
    text-align: center;
    text-wrap: balance;
    padding: calc(var(--spacing) * 1.5);
    margin-top: var(--spacing);
    background-color: #444;
  }
}

.imageAsset {
  --spacing: 1rem;

  .imageWrapper {
    position: relative;

    .credit {
      position: absolute;
      inset: auto calc(var(--spacing) * 0.5) calc(var(--spacing) * 0.5) auto;
      font-size: 1.25rem;
      color: black;
      text-align: right;
      padding: 0.5rem var(--spacing);
      border: 1px solid black;
      background-color: #fffc;
    }
  }
}
