@font-face {
  font-family: sb-bold;
  src: url(./fonts/sb-bold.woff);
  font-display: swap;
}

@font-face {
  font-family: sb-light;
  src: url(./fonts/sb-light.woff);
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sb-light, system-ui, sans-serif;
  font-size: 10px;
  color: white;
}

body {
  margin: 0;
  font-size: 2.2rem;
}

a {
  color: inherit;
}

p {
  margin-top: 0;
}

p a {
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
  text-decoration-skip-ink: all;
}

ul,
ol {
  padding: 0 1.5rem;
}

button {
  font-family: inherit;
}

img {
  display: block;
}

.sr-only {
  display: block;
  white-space: nowrap;
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
strong {
  font-family: sb-bold, system-ui, sans-serif;
  font-weight: bold;
  font-size: inherit;
  margin: 0;
}

.h1 {
  font-size: clamp(3.5rem, 5vw, 7rem);
}

h2 {
  font-size: 6vw;
}

.center {
  text-align: center;
}

.map-link {
  font-size: 1.8rem;
}

[aria-label="Hero Image"] {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 90dvh;
  margin-bottom: 4rem;
}

[aria-label="Hero Image"] > * {
}

#hero-image-container {
  grid-area: 1 / 1 / -1 / -1;
}

#hero-image {
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  height: 100%;
}

#hero-text-container {
  grid-row: 8 / span all;
  grid-column: 2 / span all;
}

#hero-text-container svg text {
  font-size: inherit;
}

[aria-label="News"] {
  margin: 0 auto;
  padding: 0 0.5rem;
  max-width: 80ch;
}

article.box {
  border: 1px solid white;
  border-radius: 1rem;
  padding: 2rem 1rem 0.5rem 1rem;
  position: relative;
  margin-bottom: 5rem;
}

article.box.main-event {
  background: linear-gradient(black, rgb(110, 0, 0) 30%, rgb(110, 0, 0) 70%, black);
}

article.box .article-type {
  font-size: 2.3rem;
  background: black;
  padding: 0 0.5rem;
  width: fit-content;
  position: absolute;
  top: -1.5rem;
  right: 3rem;
  text-align: right;
}

article.box.main-event .article-type {
}

article.box h2 {
  font-size: clamp(1.4rem, 6vw, 6rem);
  margin-bottom: 1rem;
}

article.box p,
article.box li {
  font-size: clamp(0.8rem, 4.5vw, 2.4rem);
}

[aria-label="Event Poster"] {
  position: relative;
  margin: 0 auto;
}

#poster-credit {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  background: black;
}

#event-poster {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

footer {
  height: 20vh;
}

@media (min-width: 576px) {
  article.box .article-type {
    top: -2rem;
  }

  article.box h2 {
    font-size: 2.7rem;
  }

  article.box h3 {
    font-size: 2rem;
  }

  article.box p,
  article.box li {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  [aria-label="News"] {
    max-width: 80rem;
  }

  article.box {
    padding: 2rem 2rem 0.5rem;
  }

  article.box h2 {
    font-size: 3rem;
  }

  article.box h3 {
    font-size: 2.25rem;
  }

  article.box p,
  article.box li {
    font-size: 2rem;
  }

  #hero-image {
    object-position: 65%;
  }

  #hero-text-container {
    grid-row: 9 / -1;
    grid-column: 2 / -1;
  }
}

@media (min-width: 1200px) {
  #hero-text-container {
    grid-column: 3 / -1;
    grid-row: 10 / -1;
  }
}
