@font-face {
  font-family: snow-caps;
  src: url(./fonts/snowtop-caps.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: sb-bold;
  src: url(./fonts/sb-bold.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: sb-light;
  src: url(./fonts/sb-light.woff) format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: #fff;
  color: #000;
}

img::selection {
  background-color: #000b;
}

html {
  font-family: sb-light, system-ui, sans-serif;
  font-size: 10px;
  color: white;
}

body {
  margin: 0;
  font-size: 2.2rem;
}

a {
  color: inherit;
}

p {
  margin-top: 0;
}

p a {
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
  text-decoration-skip-ink: all;
}

button {
  font-family: inherit;
}

img {
  display: block;
}

.sr-only {
  display: block;
  white-space: nowrap;
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1 {
  font-family: sb-bold, system-ui, sans-serif;
  font-size: inherit;
  line-height: 1;
  margin: 0;
}

.snow {
  font-family: snow-caps;
  color: #000;
  font-weight: normal;
}

.site-title {
  font-size: 27vw;
  text-align: center;
}

.site-title + h2 {
  color: #000;
  text-align: center;
  font-size: 8vw;
}

[aria-label="Hero Image"] {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100vw;
  height: 90svh;
  margin-bottom: 4rem;
  background: linear-gradient(#e1e1e1, #acacac);
}

#hero-image-container {
  grid-area: 1 / 1 / -1 / -1;
}

#hero-image {
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  height: 100%;
}

#hero-text-container {
  grid-row: 2 / span 4;
  grid-column: 1 / -1;
}

[aria-label="News"] {
  margin: 0 auto;
  padding: 0 0.5rem;
  max-width: 60ch;
}

article.box {
  border: 1px solid white;
  border-radius: 1rem;
  padding: 2rem 1rem 0.5rem 1rem;
  position: relative;
  margin-bottom: 5rem;

  .article-type {
    font-size: 2.3rem;
    background: black;
    padding: 0 0.5rem;
    width: fit-content;
    position: absolute;
    top: -1.5rem;
    right: 3rem;
    text-align: right;
  }

  h2 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.8rem;
  }
}

footer {
  height: 20vh;
}

@media (min-width: 556px) {
  .hide-on-desktop {
    display: none;
  }

  .site-title {
    font-size: 15vw;
  }

  .site-title + h2 {
    font-size: clamp(4rem, 3vw, 10rem);
  }
}
