:root {
  --site-background-color: #111;
  --site-text-color: #ddd;
  --site-max-width: 99.2rem;
}

@layer reset, defaults, layout, components, utilities, overrides;

@layer reset {
  :where(*, *::before, *::after) {
    box-sizing: border-box;
  }

  :where(a) {
    color: inherit;
  }

  :where(img, iframe, button) {
    display: block;
  }

  :where(button) {
    font-family: inherit;
  }
}

@layer defaults {
  html {
    font-size: 10px;
    background-color: var(--site-background-color);
  }

  body {
    font-size: 1.6rem;
    color: var(--site-text-color);
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
  }

  :where(ul[class]) {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  :where(main > article) {
    margin: 0 auto;
    max-width: 60ch;
  }

  :where(main > article p) {
    text-align: justify;
    line-height: 1.25;
    text-wrap: balance;
  }
}

@layer utilities {
  .flex {
    display: flex;
  }

  .justify-content-center {
    justify-content: center;
  }

  .align-items-center {
    align-items: center;
  }

  .ml-auto {
    margin-left: auto;
  }

  .mr-auto {
    margin-right: auto;
  }
}

/* Media Breakpoints. Mobile first. */

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  /* This is maximum content width */
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}
