:root {
  --site-background-color: #111;
  --site-text-color: #ddd;
  --site-max-width: 99.2rem;
}

@layer reset, defaults, layout, components, utilities, overrides;

@layer reset {
  :where(*, *::before, *::after) {
    box-sizing: border-box;
  }

  :where(a) {
    color: inherit;
  }

  :where(img, iframe, button) {
    display: block;
  }

  :where(img) {
    max-width: 100%;
    height: auto;
  }

  :where(figure) {
    margin: 0;
    padding: 0;
  }

  :where(button) {
    font-family: inherit;
    min-height: 2.4rem;
    min-width: 2.4rem;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-size: inherit;
  }

  :where(h1, h2, h3, h4, h5, h6):has(+ :where(p)) {
    margin-bottom: 0;
  }

  :where(p) {
    margin-top: 0;
  }
}

@layer defaults {
  html {
    font-size: 10px;
    font-family: system-ui, sans-serif;
    background-color: var(--site-background-color);
  }

  body {
    font-size: 1.8rem;
    color: var(--site-text-color);
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
  }

  :where(ul[class]) {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  :where(main > article) {
    margin: 0 auto;
    max-width: 58rem;
  }

  :where(main > article p) {
    text-align: justify;
    font-size: 2.2rem;
    line-height: 1.25;
    text-wrap: balance;
  }
}

@layer utilities {
  .flex {
    display: flex;
  }

  .justify-content-center {
    justify-content: center;
  }

  .align-items-center {
    align-items: center;
  }

  .ml-auto {
    margin-left: auto;
  }

  .mr-auto {
    margin-right: auto;
  }
}

@layer overrides {
  .sr-only {
    display: block;
    width: 0;
    height: 0;
    white-space: nowrap;
    position: absolute;
    overflow: hidden;
  }
}

/* Media Breakpoints. Mobile first. */

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  /* This is maximum content width */
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}
